body {
	margin:0;
}

#page {
	width: 800px;
	margin: 2em auto;

	font-size: 17px;
	font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
	line-height: 24px;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.byline {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4em;
	color: #4C4C4C;
}

.content header h1 {
	text-align: center;
	width: 480px;
	margin: 18px auto;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.content header h1 a {
	text-decoration: none;
	color: #2D2D2D;
}

.content header h1 a:visited{
	color: #2D2D2D;
}

.content h2 {
	font-family: "proxima-nova-alt-condensed",sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	color: gray;
}

article p {
	color: #414141;
	line-height: 1.8em;
}

article img {
	max-width: 960px;
}

article p a {
	color: #4EA3D0;
	padding: 0 1px;
}

article blockquote {
	font-style: italic;
	background: #efefef;
	padding: 1em;
}

article ul li {
	color: #414141;
	margin-bottom: 6px;
}

article ol {
	font-family: Arial, sans-serif;
}


article ol li {
	color: #414141;
	margin-bottom: 6px;
}

.copy img {
	float: left;
	margin-right: 1em;
}

header {
	overflow: hidden;
	margin-bottom: 3em;
}

header .name {
	float: left;
	font-size: 18px;
	line-height: 1;
}

header .name a {
	text-decoration: none;
	text-transform: uppercase;
	color: #4EA3D0;
}

header .meta {
	float: left;
}

header nav {
	float: right;
	text-transform: uppercase;
}

header nav ul {
	margin: 0;
}

header nav ul li {
	float: right;
	margin-left: 1em;
	list-style-type: none;
}

header nav ul li a {
	text-decoration: none;
	color: #4EA3D0;
}

ul.listing {
	list-style-type: none;
	margin-bottom: 3em;
	padding:0;
}

ul.listing li {
	font-size: 20px;
	text-transform: uppercase;
	overflow: hidden;
	border-bottom: 1px dotted gray;
	margin: 1em 0 3em 0;
}

ul.listing li a {
	color: #4EA3D0;
	line-height: 1.2em;
	width: 70%;
	display: block;
	float: left;
	text-decoration: none;
	vertical-align: top;
}

ul.listing li span {
	float: right;
	line-height: 1.2em;
	vertical-align: top;
}


.tagline {
	text-align: center;
}
