body {
  margin:0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 22px;
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased;
}

#page > header {
  background: #16161D url(/images/header.jpg) bottom;
  color: #efefef;
  height: 400px;
}

#page article {
  padding: 1em;
}

#page > header section {
  width: 640px;
  margin: 0px auto;
  overflow: hidden;
  padding: 90px 0 40px 0;
}

#page > header section img {
  display: block;
  margin: 0px auto;
}

#page > header section nav {
  padding-top: 5em;
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

#page > header section nav ul li {
  display: inline-block;
  margin-right: 3em;
}

article img.johnmcdowall {
  display: block;
  margin-left: 4em;
  margin-bottom: 2em;
}

#recent-articles {
  font-size: 2em;
}

#recent-articles a {
  width: 100%;
  text-align: center;
  margin: 2em 0;
}

#recent-articles date {
  display: none;
}