<div class="row bio">
  <div class='container'>
    <div class="col-sm-12 col-md-offset-3 col-md-6">
      <img src='/images/john_mcdowall.png' class='text-center' width=90 height=90 alt='John McDowall'>
      This is the journal of John McDowall, a veteran freelance programmer, musician, photographer and designer. He writes and works remotely from a wooden house on a small island off the coast of Vancouver, Canada. <br/><br/>
    </div>
  </div>
</div>
<li><a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a></li>
<!-- <li>&#38;bull;</li> -->
<!-- <li><a href='/hire&#45;me'>Hire John</a> -->
