<div class='row'>
  <div class='col-md-12 text-center post-ctas'>
    <p class='lead'>Have something else in mind?</p>
    <ul class='list-unstyled'>
      <li><a class='text-center' href='https://github.com/johnmcdowall/johnmcdowall.github.io'>See something wrong? Open a PR!</a></li>
      <li><a class='text-center' href='mailto:john@mcdowall.info'>Have a suggestion for a blog post? Want to hire me?</a></li>
    </ul>
  </div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc({ showSpeed: 0 });
});
</script>

