<aside>
  <div class='blurb'>
    <img src='/images/john_mcdowall.png' class='text-center'>
    <p><strong>Ember Zone is written by John McDowall</strong>, a veteran programmer, musician, photographer and designer. He writes from a wooden house on a small island off the coast of Vancouver, Canada.</p>
  </div>
  <div class="blurb">
    <h4>Ember Zone Elsewhere</h4>
    <div class="textwidget">You can follow Ember Zone on Twitter at <a href="https://twitter.com/emberdotzone">@emberdotzone</a>
    <br>
    <br>
    Check out the Ember Zone's <a href="https://github.com/emberzone">Github Repo</a>!</div>
  </div>
  <div class="blurb">
    <h4>Get bonuses and notifications</h4>
    <p>Sign up for email notifications of new posts, and occasional special subscriber only posts! I'll never spam you, or waste your time - and you can always mercilessly hit that Unsubscribe link at any time!</p>
    <form action="http://kantandesignsinc.createsend.com/t/d/s/jjydhk/" method="post">
      <p>
      <label for="fieldName">Name</label><br>
      <input id="fieldName" name="cm-name" type="text" class='form-control'>
      </p>
      <p>
      <label for="fieldEmail">Email</label><br>
      <input id="fieldEmail" name="cm-jjydhk-jjydhk" type="email" required="" class='form-control'>
      </p>
      <p>
      <input name="submit" type="submit" id="submit" value="Subscribe" class='btn btn-primary pull-right'>
      </p>
    </form>
  </div>
</aside>
